    ---
    layout: _layout/page
    title: Start Page
    ---

    <div class="row">
    <div class="column">
        <div class="card">
            <p>
            Complete Beginner</p>
            <ul>
            <li><a href="#">9 Important CSS Properties You Must Know</a></li>
            <li><a href="#">Is this code working?</a></li>
            <li><a href="#">How to structure HTML for an actual website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 1)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 3)</a></li>
            </ul>
        </div>
        
    </div>
    <div class="column">
        <div class="card"><p>Beginner CSS</p>
            <ul>
            <li><a href="#">9 Important CSS Properties You Must Know</a></li>
            <li><a href="#">Is this code working?</a></li>
            <li><a href="#">How to structure HTML for an actual website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 1)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 3)</a></li>
            </ul>
        </div>
    </div>
    <div class="column">
        <div class="card"><p>Intermediate CSS</p>
            <ul>
            <li><a href="#">The difference between HTML, CSS, and JavaScript</a></li>
            <li><a href="#">How to structure HTML for an actual website</a></li>
            <li><a href="#">How to structure HTML for an actual website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 1)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 3)</a></li>
            </ul>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <p>
            Advanced CSS</p>
            <ul>
            <li><a href="#">The difference between HTML, CSS, and JavaScript</a></li>
            <li><a href="#">How to structure HTML for an actual website</a></li>
            <li><a href="#">How to structure HTML for an actual website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 1)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 3)</a></li>
            </ul>
        </div>
        
    </div>
    <div class="column">
        <div class="card"><p>Beginner JS</p>
            <ul>
            <li><a href="#">The difference between HTML, CSS, and JavaScript</a></li>
            <li><a href="#">How to structure HTML for an actual website</a></li>
            <li><a href="#">How to structure HTML for an actual website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 1)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 3)</a></li>
            </ul>
        </div>
    </div>
    <div class="column">
        <div class="card"><p>Intermediate JS</p>
            <ul>
            <li><a href="#">The difference between HTML, CSS, and JavaScript</a></li>
            <li><a href="#">How to structure HTML for an actual website</a></li>
            <li><a href="#">How to structure HTML for an actual website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 1)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 3)</a></li>
            </ul>
        </div>

        
    </div>
    <div class="column">
        <div class="card">
            <p>
            Advanced JS</p>
            <ul>
            <li><a href="#">The difference between HTML, CSS, and JavaScript</a></li>
            <li><a href="#">How to structure HTML for an actual website</a></li>
            <li><a href="#">How to structure HTML for an actual website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 1)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 2)</a></li>
            <li><a href="#">Creating a clean and simple website (Part 3)</a></li>
            </ul>
        </div>
        
    </div>
    <div class="column">
        <div class="card"><p>Visual Design</p>
            <ul>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            </ul>
        </div>
    </div>
    <div class="column">
        <div class="card"><p>Typography</p>
            <ul>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            <li><a href="#">..</a></li>
            </ul>
        </div>
    </div>
    </div>
    